////////////////////////////////
// AWS Connection

aws_region = "us-west-2"

aws_profile = "solutions-architects"

aws_key_pair_file = "~/Desktop/jvogt-sa-aws.pem"

aws_key_pair_name = "jvogt-sa-aws"

////////////////////////////////
// Object Tags

tag_name = "Jeff Vogt"

tag_dept = "sa"

tag_contact = "jvogt"

////////////////////////////////
// Automate Config

automate_hostname = "jv-a2.chef-demo.com"
automate_license = "..."

// NOTE: If you have an acm cert and r53 managed hosted zone, you
// can use chef_automate_alb.tf.example to build out an ALB with SSL
// and DNS via R53.
// ** You do not need to set custom ssl key and chain in this scenario **

automate_alb_acm_matcher = "*.chef-demo.com"
automate_alb_r53_matcher = "chef-demo.com."

chef_user_public_key = <<EOF
-----BEGIN PUBLIC KEY-----
...
-----END PUBLIC KEY-----
EOF
