////////////////////////////////
// AWS Connection

aws_region = "us-west-2"

aws_profile = "solutions-architects"

aws_key_pair_file = "~/Desktop/jvogt-sa-aws.pem"

aws_key_pair_name = "jvogt-sa-aws"

////////////////////////////////
// Object Tags

tag_name = "Jeff Vogt"

tag_dept = "sa"

tag_contact = "jvogt"

//////////////////////////////////
// Demo Instances

automate_hostname = "jv-a2.chef-demo.com"

automate_api_token = "api-token-for-compliance-demo"
